/* creating the root and assigning the variable */
:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}
/* since there is bootstraps in App.js, we have set font as important so, this css will get presedence */
body{
 font-family: 'Oswald', sans-serif !important;
 background: var(--mainWhite) !important;
 color:var(--mainDark) !important;
}

.text-title{
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color:var(--mainBlue);
}

.text-bright{
  color: var(--lightBlue)
}
